{% extends "base.html" %} {% block content %}

<div class="container">
  <!-- Heading -->
  <h1 class="center-align">
    <i class="fas fa-tasks"></i>
    ToDoList Web App
  </h1>

  <!-- Task List Collapsible -->
  <div class="row">
    <!-- Task List -->
    <div class="col s6">
      <ul class="collapsible">
        {% for task in tasks %}
        <li>
          <div class="collapsible-header">
            <form action="#">
              <p>
                <label>
                  <input type="checkbox" />
                  <span>{{ task.name }}</span>
                </label>
              </p>
            </form>
          </div>
          <div class="collapsible-body">
            <span>{{ task.description }}</span>
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>

    <!-- Task Operations List -->
    <div class="col s6">
      <div class="card light-card">
        <div class="card-content">
          <!-- Card Title -->
          <span class="card-title center">Task Operations</span>

          <!-- Add New Task -->
          <div class="row action-row">
            <a
              class="btn-floating btn-large waves-effect waves-light red"
              href="{% url 'add_task' %}"
            >
              <i class="material-icons">add</i>
            </a>
            <span class="btn-text">Add New Task</span>
          </div>

          <!-- Edit Existing Task -->
          <div class="row action-row">
            <a
              class="btn-floating btn-large waves-effect waves-light blue"
              href="#!"
            >
              <i class="material-icons">edit</i>
            </a>
            <span class="btn-text">Edit Existing Task [TODO]</span>
          </div>

          <!-- Show Completed Tasks -->
          <div class="row action-row">
            <a
              class="btn-floating btn-large waves-effect waves-light green"
              href="{% url 'completed_tasks' %}"
            >
              <i class="material-icons">check_circle</i>
            </a>
            <span class="btn-text">Show Completed Tasks</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %} {% block script %}
<script>
  $(document).ready(function () {
    $(".collapsible").collapsible();
  });
</script>
{% endblock script %}
