/* Color Palette */
:root {
    --primary-color: #4663ac; /* Dark Blue */
    --primary-light: #c8d9ed; /* Light Blue */
    --primary-light-alt: #c1d8f0; /* Light Blue Alt */

    --secondary-color: #e1f1fd; /* Lightest Blue */
    --secondary-dark: #d2deeb; /* Gray Blue */
    --text-color: #333; /* Dark Text Color */
}

/* General Styles */
body {
    background-color: var(--secondary-color);
    color: var(--text-color);
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Header Styles */
.header {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 16px;
    text-align: center;
}