<!-- Footer -->
<footer class="page-footer lightblue">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5>About App</h5>
        <p>
          This app is a simple ToDoList Web App implementing the CRUD API for tasks.
        </p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5>My Social Media Links</h5>
        <ul>
          <li>
            <a href="https://github.com/vickvey" target="_blank">
              <i class="fab fa-github"></i> Github
            </a>
          </li>
          <li>
            <a href="https://linkedin.in/vickvey" target="_blank">
              <i class="fab fa-linkedin"></i> LinkedIn
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container center">
      © 2024 <a href="https://github.com/vickvey">Vivek Kumar</a>
    </div>
  </div>
</footer>
